@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Fjalla+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"] {
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    position: relative;
    width: 18px;
    margin-right: 12px;
}

input[type="radio"]:after {
    background-color: transparent;
    border-radius: 50%;
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    position: relative;
    left: 3px;
    top: 3px;
}

input[type="radio"]:checked:after {
    background-color: #FFFFFF;
}

