@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Fjalla+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"] {
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    position: relative;
    width: 18px;
    margin-right: 12px;
}

input[type="radio"]:after {
    background-color: transparent;
    border-radius: 50%;
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    position: relative;
    left: 3px;
    top: 3px;
}

input[type="radio"]:checked:after {
    background-color: #FFFFFF;
}

/* SCROLLBAR */

* {
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.05);
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    margin: 8px 0px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: none;
}

.rich-text>h1 {
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.rich-text>h2 {
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.rich-text>p {
    font-size: normal;
    margin-bottom: 1em;
    line-height: 1.75rem;
    word-break: break-word;
}


.rich-text>a,
.rich-text>*>a {
    font-size: inherit;
    font-weight: inherit;
    color: rgba(0, 189, 249, 1);
    text-decoration: underline;
}

.rich-text>em,
.rich-text>*>em {
    font-weight: inherit;
    color: rgba(255, 255, 255, 0.65)
}